
<div id="homecontenair">
	<div id="homecontent" class="col-md-6 col-md-offset-3">
		<div class="jumbotron">
  			<h1 id="title">Welcome at Middiz.com</h1>
  			<p>Find the best midi piano file to learn and share your art ! </p><br>
 			 <p> <%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn-lg" %>&nbsp 
 			     <%= link_to "Log-in", new_user_session_path, class: "btn btn-success btn-lg" %>
 			 </p>
		</div>	
	</div>
</div>


<div id="secondcontent">
  <div class:"container">
	<div class="col-md-4" id="icone">
	    <%= image_tag "download.png",{height: 70}%>
	    <div id="textcontent"><h4>Download the best midi piano pieces and play piano without knowing how to read music sheets</h4></div>
	</div>
	
	<div class="col-md-4" id="icone">
	    <%= image_tag "Piano.png",{height: 70} %>
	     <div id="textcontent"><h4>Learn to play you favorite piano song in the easierst way !</h4></div>
	 </div>
	
    <div class="col-md-4" id="icone">
        <%= image_tag "friends.png",{height: 70}%>
         <div id="textcontent"><h4>Share your talent with our community and inspire them </h4>
         </div>
    </div>
   </div>
</div>

<div id="joinus">
	<div class="container" id="try">
	  <div id="margin"> 
			<div class="col-md-6" id="joindiscover">Join us and discover great piano pieces !
			</div>
	
			<div class="col-md-3  col-md-offset-1"><%= link_to "Become a member", new_user_registration_path, class: "btn btn-primary btn-lg" %>
		    </div>

			<div class="col-md-2"><%= link_to "Log in", new_user_session_path, class: "btn btn-default btn-lg" %></div>	
		</div>
	</div>
</div>

<div id="blank"></div>
