<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @midi.title %>
</p>

<p>
  <strong>Author:</strong>
  <%= @midi.author %>
</p>

<%= link_to 'Edit', edit_midi_path(@midi) %> |
<%= link_to 'Back', midis_path %>
